body {
margin: 0;
display: flex;
justify-content: center;
align-items: center;
height: 1000px;
background-color: #F3FEB8;
}


#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 20%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}


#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#display {
    width: 100%;
    padding: 20px;
    border: none;
    background-color: hsl(0, 0%, 15%);
    text-align: left;
    font-size: 5rem;
    color: white;

}

.btn {
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50px;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 3rem;
}

.btn:hover {
    background-color:hsl(0, 0%, 40%);

}

.btn:active {
    background-color:hsl(0, 0%, 50%);
}

.operator-btn {
    background-color: hsl(35, 91%, 55%);
}

.operator-btn:hover {
    background-color: hsl(35, 91%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 91%, 70%)
}

.next-project{
    position: absolute;
    right: 0;
    margin-right: 20px;
    border: none;
    color: white;
    background-color: #FF4C4C;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 2rem;
    transition: 0.3s ease;
    font-family: "Montserrat Alternates", sans-serif;
}
.next-project:hover{
    background-color: hsl(0, 100%, 75%);
    scale: 0.9;
}
.next-project:active{
    background-color: hsl(0, 100%, 55%);
    scale: 1;
}