body{
    background-color: #282c34;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

input[type="text"] {
    border: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    width: 300px;
    font-size: 1rem;
    margin-bottom: 20px;
}

button{
    padding: 10px 20px;
    border: none;
    background-color: #61dafb;
    color: #282c34;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}
button:hover{
    background-color: #21a1f1;
}

.ball{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ball-answer{
    font-size: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}

.next-project{
    position: absolute;
    right: 0;
    margin-right: 20px;
    border: none;
    color: white;
    background-color: #F5004F;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 2rem;
    transition: 0.3s ease;
    font-family: "Montserrat Alternates", sans-serif;
}
.next-project:hover{
    background-color: hsl(341, 100%, 60%);
    scale: 0.9;
}
.next-project:active{
    background-color: hsl(341, 100%, 40%);
    scale: 1;
}

